<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="Database1"
             connectionString="data source=example.com;initial catalog=database1;user=user1;password=password1" />
    </connectionStrings>
    <appSettings>
        <add key="Table1"
             value="dbo.Table1" />
    </appSettings>
</configuration>